<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kancy.district.mapper.DistrictAreaDetailMapper">
    <sql id="tableName">
        district_area_detail
    </sql>

    <sql id="baseColumn">
        id,area_code,area_name,city_code,city_name,province_code,province_name,version,is_deleted,created_at,updated_at
    </sql>

</mapper>